.header{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  height: 50px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  color: black;
}